body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #0a0f1c;
    color: white;
}

/* MAIN WRAPPER */
.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px;
}

/* PROFILE CARD */
.profile-card {
    width: 100%;
    max-width: 420px;
    background: #111827;
    border: 1px solid #1f2937;
    border-radius: 16px;
    padding: 25px;
    text-align: center;
}

.avatar {
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
}

.profile-card h2 {
    margin: 5px 0;
    color: #38bdf8;
}

.profile-card p {
    color: #94a3b8;
    font-size: 14px;
}

/* SKILLS */
.skills {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.skills span {
    background: #1f2937;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    color: #cbd5e1;
}

/* LINKS CARD */
.links-card {
    width: 100%;
    max-width: 420px;
    background: #111827;
    border: 1px solid #1f2937;
    border-radius: 16px;
    padding: 25px;
}

.links-card h3 {
    text-align: center;
    color: #38bdf8;
    margin-bottom: 15px;
}

/* BUTTONS */
.links-card button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: #0f172a;
    color: #e5e7eb;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #1f2937;
}

.links-card button:hover {
    background: #38bdf8;
    color: #0a0f1c;
}